@import '@fontsource/fira-mono';

:root {
    font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(rgba(0, 0, 0, 0.7));
}

body {
    margin: 0;
    background: radial-gradient(circle, rgba(15, 27, 27, 1) 13%, rgba(15, 15, 25, 1) 62%, rgba(0, 0, 0, 1) 88%);
}