/* Create a top navigation bar with a black background color  */
.navbar {
    background-color: royalblue;
    border-radius: 30px;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: cornflowerblue;
    border-radius: 30px;
    color: black;
}

.navbar a.split:hover {
    background-color: cornflowerblue;
    border-radius: 30px;
    color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.navbar a.split {
    float: right;
    background-color: royalblue;
    color: white;
}